<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>bank.Controller</servlet-class>
	</servlet>
        <servlet>
		<servlet-name>JSPDemoController</servlet-name>
		<servlet-class>bank.Controller</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DemoServlet</servlet-name>
		<servlet-class>bank.DemoServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>DemoDelegate</servlet-name>
        <servlet-class>bank.DemoDelegate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoFormServlet</servlet-name>
        <servlet-class>bank.DemoFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoDynamicForm</servlet-name>
        <servlet-class>bank.DemoDynamicForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DynamicFormController</servlet-name>
        <servlet-class>bank.DynamicFormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoEJBClient</servlet-name>
        <servlet-class>bank.DemoEJBClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoVersioning</servlet-name>
        <servlet-class>bank.DemoVersioning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoVersioningPart2</servlet-name>
        <servlet-class>bank.DemoVersioningPart2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoJMS</servlet-name>
        <servlet-class>bank.DemoJMS</servlet-class>
    </servlet>
    <servlet-mapping>
            <servlet-name>Controller</servlet-name>
            <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
            <servlet-name>JSPDemoController</servlet-name>
            <url-pattern>/jsp_demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
            <servlet-name>DemoServlet</servlet-name>
            <url-pattern>/demo_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoDelegate</servlet-name>
        <url-pattern>/demo_delegate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoFormServlet</servlet-name>
        <url-pattern>/form_test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoDynamicForm</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DynamicFormController</servlet-name>
        <url-pattern>/dyna_form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoEJBClient</servlet-name>
        <url-pattern>/ejb_demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoVersioning</servlet-name>
        <url-pattern>/versioning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoVersioningPart2</servlet-name>
        <url-pattern>/increment_accounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoJMS</servlet-name>
        <url-pattern>/mdb_demo</url-pattern>
    </servlet-mapping>
    <session-config>
		<session-timeout>
            30
        </session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>
		welcome.jsp
		</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>main</web-resource-name>
			<url-pattern>/main</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
			<role-name>customer</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Bank Realm</realm-name>
	</login-config>
	<ejb-ref>
		<ejb-ref-name>ejb/BankMgr</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<remote>bank.BankMgr</remote>
	</ejb-ref>
</web-app>
